.bodybg
{
    -fx-background-image: url("/signin/signIn.jpg");
    -fx-background-size: cover;    
    -fx-background-repeat: no-repeat;  
    -fx-background-position: center center;
}


.border
{
    -fx-background-image: url("/playwithcomputer/comp.png");
    -fx-background-size: cover;    
    -fx-background-repeat: no-repeat;  
    -fx-background-position: center;
}